{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body">
        <a href="{{ path('app_admin_change_request_ajouter') }}" class="btn btn-dark w-240 mt-5 ml-2">Add Change Request</a>
    </div>
    <div class="container-body">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <table>
            <thead>
            <tr>
                <th>Ref</th>
                <th>Project change request name</th>
                <th>Etat</th>
                <th style="width: 30%;">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for request in allProjectRequests %}
                <tr>
                    <td>{{ request.pcrRef }}</td>
                    <td>{{ request.pcrName }}</td>
                    <th>

                        {% set status = 'light' %}

                        {% if request.pcrStatus == 'In Review' %}
                            {% set status = 'warning' %}
                        {% elseif request.pcrStatus == 'Approuved' %}
                            {% set status = 'success' %}
                        {% elseif request.pcrStatus == 'Rejected' %}
                            {% set status = 'danger' %}
                        {% endif %}

                        <a class="badge badge-{{ status }} font-14">{{ request.pcrStatus }}</a>
                    </th>
                    <td>
                        <a href="{{ path('app_admin_change_request_modifier',{'id':request.id}) }}" class="btn btn-warning font-14 w-100 mt-2">Modify</a>
                        <a href="{{ path('app_admin_change_request_delete',{'id': request.id}) }}" class="btn btn-danger font-14 w-100 mt-2">Delete</a>
                        <a href="{{ path('app_admin_change_request_view',{'id':request.id}) }}" class="btn btn-secondary font-14 w-100 mt-2">More</a>
                    </td>
                </tr>
            {% else %}
               <tr>
                   <td colspan="4">La liste est vide.</td>
               </tr>
            {% endfor %}
            </tbody>


        </table>


    </div>

{% endblock %}