{% extends 'forms_base.html.twig' %}

{% block title %}MODIFIER CHANGE REQUEST{% endblock %}

{% block titleHeader %}MODIFIER CHANGE REQUEST{% endblock %}
{% block body %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Projet concerné</label>
                {{ form_widget(form.project) }}
                <span class="error-field">{{ form_errors(form.project) }}</span>
            </div>
        </div>
        <!-- -->
        {#  #}

        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Priorité</label>
                {{ form_widget(form.Priority) }}
                <span class="error-field">{{ form_errors(form.Priority) }}</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Nom CR</label>
                {{ form_widget(form.pcr_name) }}
                <span class="error-field">{{ form_errors(form.pcr_name) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Date</label>
                {{ form_widget(form.date_de_creation) }}
                <span class="error-field">{{ form_errors(form.date_de_creation) }}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Impact CR</label>
                {{ form_widget(form.impact_of_change) }}
                <span class="error-field">{{ form_errors(form.impact_of_change) }}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Ref CR</label>
                {{ form_widget(form.pcr_ref) }}
                <span class="error-field">{{ form_errors(form.pcr_ref) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Description du CR</label>
                {{ form_widget(form.pcr_description) }}
                <span class="error-field">{{ form_errors(form.pcr_description) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Cause du CR</label>
                {{ form_widget(form.pcr_change_reason) }}
                <span class="error-field">{{ form_errors(form.pcr_change_reason) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Correctif proposé</label>
                {{ form_widget(form.pcr_proposed_action) }}
                <span class="error-field">{{ form_errors(form.pcr_proposed_action) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Materiel</label>
                {{ form_widget(form.Materials) }}
                <span class="error-field">{{ form_errors(form.Materials) }}</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Coût estimé</label>
                {{ form_widget(form.Estimated_cost) }}
                <span class="error-field">{{ form_errors(form.Estimated_cost) }}</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')  %}
                    <label class="wc-100">Status</label>
                    {{ form_widget(form.pcr_status) }}
                    <span class="error-field">{{ form_errors(form.pcr_status) }}</span>
                {% else %}
                    <label class="wc-100">Status</label>
                    <input class="form-control" value="{{ changeRequest.pcrStatus }}" readonly>

                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Composant</label>
                {{ form_widget(form.Components) }}
                <span class="error-field">{{ form_errors(form.Components) }}</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Assigné à</label>
                {{ form_widget(form.user) }}
                <span class="error-field">{{ form_errors(form.user) }}</span>
            </div>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <hr>
    <div class="wc-100 text-center">
        <a href="{{ path('app_admin_change_requests') }}" class="btn btn-danger">Annuler</a>
        <button type="submit" class="btn btn-light">Modifier</button>
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}