{% extends 'forms_base.html.twig' %}

{% block title %}CHANGE REQUEST {{ changeRequest.id }}{% endblock %}

{% block titleHeader %}CHANGE REQUEST #{{ changeRequest.id }}{% endblock %}
{% block body %}

    <form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Projet concerné</label>
                <input class="form-control" value="{{ changeRequest.project }}" readonly>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Priorité</label>
                <input class="form-control" value="{{ changeRequest.priority }}" readonly>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Nom CR</label>
                {{ form_widget(form.pcr_name,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Date</label>
                {{ form_widget(form.date_de_creation,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Impact CR</label>
                {{ form_widget(form.impact_of_change,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Ref CR</label>
                {{ form_widget(form.pcr_ref,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Description du CR</label>
                {{ form_widget(form.pcr_description,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Cause du CR</label>
                {{ form_widget(form.pcr_change_reason,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Correctif proposé</label>
                {{ form_widget(form.pcr_proposed_action,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Materiel</label>
                {{ form_widget(form.Materials,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Coût estimé</label>
                {{ form_widget(form.Estimated_cost,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Status</label>
                <input class="form-control" value="{{ changeRequest.pcrStatus }}" readonly>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Composant</label>
                {{ form_widget(form.Components,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Assigné(e) à</label>
                <input class="form-control" value="{{ changeRequest.user }}" readonly>
            </div>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <hr>
    <div class="wc-100 text-center mt-25">
        <a href="{{ path('app_admin_change_requests') }}" class="btn btn-danger">Annuler</a>
    </div>
    </form>

{% endblock %}