{% extends 'forms_base.html.twig' %}

{% block title %}CHANGE REQUEST {{ changeRequest.id }}{% endblock %}

{% block titleHeader %}CHANGE REQUEST #{{ changeRequest.id }}{% endblock %}
{% block body %}

    <form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Project Name</label>
                <input class="form-control" value="{{ changeRequest.project }}" readonly>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Priority</label>
                <input class="form-control" value="{{ changeRequest.priority }}" readonly>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Pcr name</label>
                {{ form_widget(form.pcr_name,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Date</label>
                {{ form_widget(form.date_de_creation,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Impact of change</label>
                {{ form_widget(form.impact_of_change,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">PCR Ref</label>
                {{ form_widget(form.pcr_ref,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Change description</label>
                {{ form_widget(form.pcr_description,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Change reason</label>
                {{ form_widget(form.pcr_change_reason,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Proposed action</label>
                {{ form_widget(form.pcr_proposed_action,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Materials</label>
                {{ form_widget(form.Materials,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Estimated cost</label>
                {{ form_widget(form.Estimated_cost,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Status</label>
                <input class="form-control" value="{{ changeRequest.pcrStatus }}" readonly>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Components</label>
                {{ form_widget(form.Components,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="wc-100">Assigned to</label>
                <input class="form-control" value="{{ changeRequest.user }}" readonly>
            </div>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <hr>
    </form>

{% endblock %}