{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')  %}
            <a href="{{ path('app_admin_taskList_ajouter') }}" class="btn btn-dark w-240 mt-5 ml-2">Ajouter t창che</a>
        {% endif %}
    </div>
    <div class="container-body">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div>
            <form method="post">
                <div class="row">
                    <div class="w-resp wt-20">
                        <label class="text-black">Ref t창che</label>
                        <input class="form-control" name="reftask" placeholder="Task Ref.." />
                    </div>
                    <div class="w-resp wt-40">
                        <label class="text-black">Nom de t창che</label>
                        <input class="form-control" name="nametask" placeholder="Task Name.." />
                    </div>
                    <div class="w-resp wt-10">
                        <label class="text-black">Min Prog.</label>
                        <input type="number" min="0" max="100" class="form-control" name="minprogress" placeholder="Min.." />
                    </div>
                    <div class="w-resp wt-10">
                        <label class="text-black">Max Prog.</label>
                        <input type="number" min="0" max="100" class="form-control" name="maxprogress" placeholder="Max.." />
                    </div>
                    <div class="w-resp btn-algin wt-20">
                        <button class="h-45">Chercher</button>
                    </div>
                </div>

            </form>
        </div>

        <table>
            <thead>
            <tr>
                <th class="wt-20">Ref</th>
                <th class="wt-40">Nom de t창che</th>
                <th class="wt-20">Progression</th>
                <th class="wt-20" style="width: 30%;">Action</th>
            </tr>
            </thead>
            <tbody>

            {% for task in tasks %}
            <tr>
                <td style="color: {{ task.color }};">{{ task.taskRef }}</td>
                <td>{{ task.taskName }}</td>
                <th>
                    {% set etat = 'warning' %}
                    {% if task.progress == 100 %}
                        {% set etat = 'success' %}
                    {% elseif task.progress == 0 %}
                        {% set etat = 'light' %}
                    {% endif%}
                    <a class="badge badge-{{ etat }} font-14">{{ task.progress ? task.progress : 0 }}%</a>
                </th>
                <td class="text-center">

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')  %}
                        <a href="{{ path('app_admin_taskList_delete',{'id': task.id}) }}" class="text-danger w-100 mt-2"><i class="fa fa-trash"></i></a>
                    {% endif %}
                    <a href="{{ path('app_admin_taskList_modifier',{'id':task.id}) }}" class="text-primary w-100 mt-2"><i class="fa fa-pencil"></i></a>
                    <a href="{{ path('app_admin_taskList_view',{'id':task.id}) }}" class="text-info w-100 mt-2"><i class="fa fa-eye"></i></a>

                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="4">La liste est vide.</td>
                </tr>
            {% endfor %}

            </tbody>


        </table>


    </div>

{% endblock %}