{% extends 'forms_base.html.twig' %}

{% block title %}MODIFIER TACHE{% endblock %}

{% block titleHeader %}MODIFIER TACHE{% endblock %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Nom tâche</label>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_widget(form.task_name) }}
                {% else %}
                    {{ form_widget(form.task_name,{'attr':{'readonly':true}}) }}
                {% endif %}
                <span class="error-field">{{ form_errors(form.task_name) }}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Ref tâche</label>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_widget(form.task_ref) }}
                {% else %}
                    {{ form_widget(form.task_ref,{'attr':{'readonly':true}}) }}
                {% endif %}
                <span class="error-field">{{ form_errors(form.task_ref) }}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Nom CR</label>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_widget(form.requestChange) }}
                {% else %}
                    {{ form_widget(form.requestChange,{'attr':{'disabled':true}}) }}
                {% endif %}
                <span class="error-field"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Date</label>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_widget(form.date) }}
                {% else %}
                    {{ form_widget(form.date,{'attr':{'readonly':true}}) }}
                {% endif %}
                <span class="error-field"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Couleur</label>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_widget(form.color) }}
                {% else %}
                    {{ form_widget(form.color,{'attr':{'disabled':true}}) }}
                {% endif %}
                <span class="error-field">{{ form_errors(form.color) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Projet concerné</label>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_widget(form.projet) }}
                {% else %}
                    {{ form_widget(form.projet,{'attr':{'disabled':true}}) }}
                {% endif %}
                <span class="error-field">{{ form_errors(form.projet) }}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Coût tâche</label>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_widget(form.task_cost) }}
                {% else %}
                    {{ form_widget(form.task_cost,{'attr':{'readonly':true}}) }}
                {% endif %}
                <span class="error-field">{{ form_errors(form.task_cost) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Description tâche</label>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_widget(form.task_description) }}
                {% else %}
                    {{ form_widget(form.task_description,{'attr':{'readonly':true}}) }}
                {% endif %}
                <span class="error-field">{{ form_errors(form.task_description) }}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Date début</label>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_widget(form.date_start) }}
                {% else %}
                    {{ form_widget(form.date_start,{'attr':{'readonly':true}}) }}
                {% endif %}
                <span class="error-field">{{ form_errors(form.date_start) }}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Date fin</label>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_widget(form.date_end) }}
                {% else %}
                    {{ form_widget(form.date_end,{'attr':{'readonly':true}}) }}
                {% endif %}
                <span class="error-field">{{ form_errors(form.date_end) }}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Progression</label>
                {{ form_widget(form.progress) }}
                <span class="error-field">{{ form_errors(form.progress) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Assigné(e) à</label>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_widget(form.assignedTo) }}
                {% else %}
                    {{ form_widget(form.assignedTo,{'attr':{'disabled':true}}) }}
                {% endif %}
                <span class="error-field">{{ form_errors(form.assignedTo) }}</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="wc-100 text-center">
        <a href="{{ path('app_admin_task_list') }}" class="btn btn-danger">Annuler</a>
        <button type="submit" class="btn btn-light">Modifier</button>
    </div>

    {{ form_end(form) }}

{% endblock %}