{% extends 'forms_base.html.twig' %}

{% block title %}DETAILS TASK{% endblock %}

{% block titleHeader %}DETAILS TASK #{{ task.id }} {{ task.taskName }}{% endblock %}
{% block body %}

    <form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Task Name</label>
                {{ form_widget(form.task_name,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Task ref</label>
                {{ form_widget(form.task_ref,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Project change request réf</label>
                <input class="form-control" value="{{ task.projet }}" readonly>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Date</label>
                {{ form_widget(form.date,{'attr':{'readonly':true}}) }}
                <span class="error-field"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Color</label>
                {{ form_widget(form.color,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Project Réference</label>
                {{ form_widget(form.projet,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Task Cost</label>
                {{ form_widget(form.task_cost,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Task Description</label>
                {{ form_widget(form.task_description,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Date start</label>
                {{ form_widget(form.date_start,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Date End</label>
                {{ form_widget(form.date_end,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Progress</label>
                {{ form_widget(form.progress,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Assigned To</label>
                <textarea rows="3" class="form-control" readonly>
                    {% for u in task.assignedTo %}
                        - {{ u }}
                    {% endfor %}
                </textarea>
            </div>
        </div>
    </div>
    <div class="wc-100 text-center mt-25">
        <a href="{{ path('app_admin_task_list') }}" class="btn btn-danger">Annuler</a>
    </div>

    </form>
{% endblock %}