{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body">
        <button class="btn btn-dark w-240 mt-5 ml-2">Prof. filter</button>
        <button class="btn btn-dark w-240 mt-5 ml-2">Skills filter</button>
        <button class="btn btn-dark w-240 mt-5 ml-2">Level filter</button>
        <button class="btn btn-dark w-240 mt-5 ml-2">Dep. filter</button>
        <a href="{{ path('app_admin_utilisateur_ajouter') }}" class="btn btn-dark w-240 mt-5 ml-2"><i class="fa fa-user"></i> add user</a>
    </div>
    <div class="container-body">

        <table>
            <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>FirstName</th>
                <th>Profession</th>
                <th>Skills</th>
                <th>Level</th>
                <th>Département</th>
                <th style="width: 30%;">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                <td><img width="75" height="75" src="{{ user.avatar ? vich_uploader_asset(user.avatar, 'imageFile', 'App\\Entity\\Media') :  asset('assets/img/profile.png') }}" alt="" /></td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.profession }}</td>
                <td>{{ user.skills }}</td>
                <td>{{ user.level }}</td>
                <td>{{ user.departement }}</td>
                <td>
                    <a href="{{ path('app_admin_utilisateur_modifier',{'id':user.id}) }}" class="btn btn-warning font-14 w-100 mt-2">Modifier</a>
                    <a href="{{ path('app_admin_utilisateur_delete',{'id':user.id}) }}" class="btn btn-danger font-14 w-100 mt-2">Supprimer</a>
                    <a class="btn btn-secondary font-14 w-100 mt-2">More</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>


        </table>


    </div>

{% endblock %}