{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body">
        <a href="{{ path('app_admin_utilisateur_ajouter') }}" class="btn btn-dark w-240 mt-5 ml-2"><i class="fa fa-user"></i> add user</a>
    </div>
    <div class="container-body">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <div>
            <form method="post">
                <div class="row">
                    <div class="col-md-3">
                        <label class="text-black">E-mail</label>
                        <input class="form-control" name="email" placeholder="Email.." />
                    </div>
                    <div class="col-md-3">
                        <label class="text-black">Skills</label>
                        <input class="form-control" name="skills" placeholder="Skills.." />
                    </div>
                    <div class="col-md-3">
                        <label class="text-black">Level</label>
                        <input class="form-control" type="number" min="0" max="5" name="level" placeholder="Level.." />
                    </div>
                    <div class="col-md-3">
                        <label class="text-black">Profession</label>
                        <input class="form-control" name="profession" placeholder="Profession.." />
                    </div>
                    <div class="col-md-3 btn-algin">
                        <button class="h-45">Search</button>
                    </div>
                </div>

            </form>
        </div>
        <table>
            <thead>
            <tr>
                <th>Photo</th>
                <th>E-mail</th>
                <th>Profession</th>
                <th>Skills</th>
                <th>Level</th>
                <th>Département</th>
                <th style="width: 30%;">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>

                <td><img width="75" height="75" src="{{'uploads/images' }} {{ user }}" alt="" /></td>
                <td>{{ user.email }}</td>
                <td>{{ user.profession }}</td>
                <td>{{ user.skills }}</td>
                <td>{{ user.level }}</td>
                <td>{{ user.departement }}</td>
                <td class="text-center">
                    <a href="{{ path('app_admin_utilisateur_modifier',{'id':user.id}) }}" class="text-primary w-100 mt-2"><i class="fa fa-pencil"></i></a>
                    <a href="{{ path('app_admin_utilisateur_delete',{'id': user.id}) }}" class="text-danger w-100 mt-2"><i class="fa fa-trash"></i></a>
                    <a href="" class="text-info w-100 mt-2"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="8">La liste est vide.</td>
                </tr>
            {% endfor %}
            </tbody>


        </table>


    </div>

{% endblock %}