<div class="side-menu responsiveMenu">
    <span class="top-side-menu">
        <i id="toggle-menu" class="fa fa-bars"></i>
        <img class="side-logo" src="{{ asset('assets/img/logo_transparent_menu.png') }}">
    </span>
    <ul class="nav metis-menu" id="side-menu">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')  %}
        <li class="{% if app.request.get('_route') == 'app_admin' %}active{% endif %}">
            <a href="{{ path('app_admin') }}">
                <img class="black" width="70" height="70" src="{{ asset('assets/img/dashboard.png') }}" />
                <img class="white" width="70" height="70" src="{{ asset('assets/img/dashboard-white.png') }}" />
                <span class="menu-text">
                    Dashboard
                </span>
            </a>
        </li>
        {% endif %}
        <li class="{% if app.request.get('_route') == 'app_admin_project' %}active{% endif %}">
            <a href="{{ path('app_admin_project') }}">
                <img class="black" width="70" height="70" src="{{ asset('assets/img/project-management.png') }}" />
                <img class="white" width="70" height="70" src="{{ asset('assets/img/project-management-white.png') }}" />
                <span class="menu-text">
               Project
            </span>
            </a>
        </li>
        <li class="{% if app.request.get('_route') == 'app_admin_change_requests' %}active{% endif %}">
            <a href="{{ path('app_admin_change_requests') }}">
                <img class="black" width="70" height="70" src="{{ asset('assets/img/change-request-icon.png') }}" />
                <img class="white" width="70" height="70" src="{{ asset('assets/img/change-request-white.png') }}" />
                <span class="menu-text">
               Change Request
            </span>
            </a>
        </li>
        <li class="{% if app.request.get('_route') == 'app_admin_process' %}active{% endif %}">
            <a href="{{ path('app_admin_process') }}">
                <img class="black" width="70" height="70" src="{{ asset('assets/img/process.png') }}" />
                <img class="white" width="70" height="70" src="{{ asset('assets/img/process-white.png') }}" />
                <span class="menu-text">
               Process
            </span>
            </a>
        </li>
        <li class="{% if app.request.get('_route') == 'app_admin_task_list' %}active{% endif %}">
            <a href="{{ path('app_admin_task_list') }}">
                <img class="black" width="70" height="70" src="{{ asset('assets/img/task-list.png') }}" />
                <img class="white" width="70" height="70" src="{{ asset('assets/img/task-list-white.png') }}" />
                <span class="menu-text">
               Task List
            </span>
            </a>
        </li>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')  %}
            <li class="{% if app.request.get('_route') == 'app_admin_team_management' %}active{% endif %}">
                <a href="{{ path('app_admin_team_management') }}">
                    <img class="black" width="70" height="70" src="{{ asset('assets/img/team-icon.png') }}" />
                    <img class="white" width="70" height="70" src="{{ asset('assets/img/team-management-white.png') }}" />
                    <span class="menu-text">
                   Team Management
                </span>
                </a>
            </li>
        {% endif %}

        <li class="{% if app.request.get('_route') == 'app_admin_material' %}active{% endif %}">
            <a href="{{ path('app_admin_material') }}">
                <img class="black" width="70" height="70" src="{{ asset('assets/img/Materials-icon.png') }}" />
                <img class="white" width="70" height="70" src="{{ asset('assets/img/Materials-white.png') }}" />
                <span class="menu-text">
               Materials
            </span>
            </a>
        </li>
        <li class="{% if app.request.get('_route') == 'app_admin_planning' %}active{% endif %}">
            <a href="{{ path('app_admin_planning') }}">
                <img class="black" width="70" height="70" src="{{ asset('assets/img/time-management.png') }}" />
                <img class="white" width="70" height="70" src="{{ asset('assets/img/planning-white.png') }}" />
                <span class="menu-text">
               Planning
            </span>
            </a>
        </li>
    </ul>
</div>