{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body">

    </div>
    <div class="container-body">

        <div class="row">

            <div class="col-md-4 row ff-wrap">
                <div class="col-md-12 text-center">
                    Nombre de Projet
                    {{ totalProject }}
                </div>
                <div class="card col-md-12 p-15">
                    <a class="buttonLink">
                        <h3>{{ lastProjects|length }} derniers projets</h3>
                    </a>
                    {% for p in lastProjects %}
                        <a href="{{ path('app_admin_project_view',{'id':p.id}) }}" style="color: #5eb5e0;" class="buttonLink">
                           - {{ p }}
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>


            <div class="col-md-4 row ff-wrap">
                <div class="col-md-12 text-center">
                    Nombre de CR
                    {{ totalPCR }}
                </div>
                <div class="card col-md-12 p-15">
                    <a class="buttonLink">
                        <h3>{{ lastPCRs|length }} derniers CR</h3>
                    </a>
                    {% for l in lastPCRs %}
                        <a href="{{ path('app_admin_change_request_view',{'id':l.id}) }}" style="color: #5eb5e0;" class="buttonLink">
                            - {{ l }}
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>


            <div class="col-md-4 row ff-wrap">
                <div class="col-md-12 text-center">
                    Nombre de Process
                    {{ totalProcess }}
                </div>
                <div class="card col-md-12 p-15">
                    <a class="buttonLink">
                        <h3>{{ lastProcess|length }} derniers process</h3>
                    </a>
                    {% for l in lastProcess %}
                        <a href="{{ path('app_admin_process_view',{'id':l.id}) }}" style="color: #5eb5e0;" class="buttonLink">
                            - {{ l }}
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>


            <div class="col-md-4 row ff-wrap">
                <div class="col-md-12 text-center">
                    Nombre de Task
                    {{ totalTasks }}
                </div>
                <div class="card col-md-12 p-15">
                    <a class="buttonLink">
                        <h3>{{ lastTasks|length}} derniers task</h3>
                    </a>
                    {% for l in lastTasks %}
                        <a href="{{ path('app_admin_taskList_view',{'id':l.id}) }}" style="color: #5eb5e0;" class="buttonLink">
                            - {{ l }}
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>


        </div>

        <div class="row">
            <div class="card col-md-4 p-15">
                <a class="buttonLink">
                    <h3>5 coûts par projet</h3>
                </a>
                {% for p in lastProjects %}
                    <a href="{{ path('app_admin_project_view',{'id':p.id}) }}" style="color: #5eb5e0;" class="buttonLink">
                        - {{ p }} : {{ p.cost|number_format(2,'.',',') }} EUR
                    </a>
                    <br>
                {% endfor %}
            </div>
            <div class="card col-md-4 p-15">
                <a class="buttonLink">
                    <h3>CR approval status</h3>
                </a>
            </div>
            <div class="card col-md-4 p-15">
                <a class="buttonLink">

                </a>
            </div>
            <div class="card col-md-4 p-15">
                <a class="buttonLink">
                    <h3>{{ lastTasksInProgress|length }} task progress</h3>
                </a>
                {% for task in lastTasksInProgress %}
                    <a href="{{ path('app_admin_taskList_view',{'id':task.id}) }}" style="color: #5eb5e0;" class="buttonLink">
                        - {{ task }} : {{ task.progress }}%
                    </a>
                    <br>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
