{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body">

    </div>
    <div class="container-body">

        <div class="row dashbord">

            <div class="col-md-4 card">
                <div class="card-title">
                    Nombre de Projet
                    {{ totalProject }}
                </div>
                <div class="card-details">
                    <a class="buttonLink">
                        <h3>{{ lastProjects|length }} derniers projets</h3>
                    </a>
                    {% for p in lastProjects %}
                        <a href="{{ path('app_admin_project_view',{'id':p.id}) }}" style="color: #5eb5e0;" class="buttonLink">
                            - {{ p }}
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 card">
                <div class="card-title">
                    Nombre de CR
                    {{ totalPCR }}
                </div>
                <div class="card-details">
                    <a class="buttonLink">
                        <h3>{{ lastPCRs|length }} derniers CR</h3>
                    </a>
                    {% for l in lastPCRs %}
                        <a href="{{ path('app_admin_change_request_view',{'id':l.id}) }}" style="color: #5eb5e0;" class="buttonLink">
                            - {{ l }}
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 card">
                <div class="card-title">
                    Nombre de Process
                    {{ totalProcess }}
                </div>
                <div class="card-details">
                    <a class="buttonLink">
                        <h3>{{ lastProcess|length }} derniers process</h3>
                    </a>
                    {% for l in lastProcess %}
                        <a href="{{ path('app_admin_process_view',{'id':l.id}) }}" style="color: #5eb5e0;" class="buttonLink">
                            - {{ l }}
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 card">
                <div class="card-title">
                    Nombre de Task
                    {{ totalTasks }}
                </div>
                <div class="card-details">
                    <a class="buttonLink">
                        <h3>{{ lastTasks|length}} derniers task</h3>
                    </a>
                    {% for l in lastTasks %}
                        <a href="{{ path('app_admin_taskList_view',{'id':l.id}) }}" style="color: #5eb5e0;" class="buttonLink">
                            - {{ l }}
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>

        </div>


        <div class="row dashbord">

            <div class="col-md-4 card">
                <div class="card-title">
                    5 coûts par projet
                </div>
                <div class="card-details">
                    {% for p in lastProjects %}
                        <a href="{{ path('app_admin_project_view',{'id':p.id}) }}" style="color: #5eb5e0;" class="buttonLink">
                            - {{ p }} : {{ p.cost|number_format(2,'.',',') }} EUR
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 card">
                <div class="card-title">
                    CR approval status
                </div>
                <div class="card-details">
                    <div class="row">
                        <span class="badge badge-light col-md-12">{{ nbrPCRNewCR }}</span>
                        <span class="badge badge-warning col-md-12">{{ nbrPCRInReview }}</span>
                        <span class="badge badge-success col-md-12">{{ nbrPCRApprouved }}</span>
                        <span class="badge badge-danger col-md-12">{{ nbrPCRRejected }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 card">
                <div class="card-title">

                </div>
                <div class="card-details">

                </div>
            </div>
            <div class="col-md-4 card">
                <div class="card-title">
                    {{ lastTasksInProgress|length }} task progress
                </div>
                <div class="card-details">
                    {% for task in lastTasksInProgress %}
                        <a href="{{ path('app_admin_taskList_view',{'id':task.id}) }}" style="color: #5eb5e0;" class="buttonLink">
                            - {{ task }} : {{ task.progress }}%
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>

        </div>

        <br>

        <div class="row dashbord">

            <div class="col-md-4 card">
                <div class="card-title">
                    Nombre de Materiel
                    {{ materialCount }}
                </div>
                <div class="card-details">
                    <div class="row">
                        <span class=" col-md-12 badge badge-success mt-5">VALID: {{ materialValid }}</span>
                    </div>
                    <div class="row">
                        <span class=" col-md-12 badge badge-danger mt-5">INVALID: {{ materialCount - materialValid  }}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 row ff-wrap">
            </div>


            <div class="col-md-4 row ff-wrap">
            </div>


            <div class="col-md-4 row ff-wrap">
            </div>


        </div>
    </div>

{% endblock %}
