{% extends 'forms_base.html.twig' %}

{% block title %}AJOUTER PROJET{% endblock %}

{% block titleHeader %}AJOUTER PROJET{% endblock %}
{% block body %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Project Name</label>
                {{ form_widget(form.project_name) }}
                <span class="error-field">{{ form_errors(form.project_name) }}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Project ref</label>
                {{ form_widget(form.ref_project) }}
                <span class="error-field">{{ form_errors(form.ref_project) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Project owner</label>
                {{ form_widget(form.projectOwner) }}
                <span class="error-field">{{ form_errors(form.projectOwner) }}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Project Master</label>
                {{ form_widget(form.maitre) }}
                <span class="error-field">{{ form_errors(form.maitre) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Project Phase</label>
                {{ form_widget(form.Phase) }}
                <span class="error-field">{{ form_errors(form.Phase) }}</span>
            </div>
        </div>
        <div class="col-md-6">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')  %}
            <label class="wc-100"></label><br>
            <a class="btn btn-dark font-14 w-100" href="{{ path('app_admin_phase') }}">Phase config</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Project start date</label>
                {{ form_widget(form.date_init_projet) }}
                <span class="error-field">{{ form_errors(form.date_init_projet) }}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Project end date</label>
                {{ form_widget(form.date_fin_projet) }}
                <span class="error-field">{{ form_errors(form.date_fin_projet) }}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Budget</label>
                {{ form_widget(form.budget) }}
                <span class="error-field">{{ form_errors(form.budget) }}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Cost</label>
                {{ form_widget(form.cost) }}
                <span class="error-field">{{ form_errors(form.cost) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Project description</label>
                {{ form_widget(form.project_description) }}
                <span class="error-field">{{ form_errors(form.project_description) }}</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="wc-100 text-center">
        <a href="{{ path('app_admin_project') }}" class="btn btn-danger">Annuler</a>
        <button type="submit" class="btn btn-light">Ajouter</button>
    </div>

    {{ form_end(form) }}

{% endblock %}