{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body text-center">
        <a href="{{ path('app_admin_project_ajouter') }}" class="btn btn-dark w-240 mt-5 ml-2">Add project</a>
    </div>
    <div class="container-body">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <table>
            <thead>
            <tr>
                <th>Ref</th>
                <th>Project name</th>
                <th style="width: 30%;">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.refProject }}</td>
                <td>{{ project.projectName }}</td>
                <td>
                    <a href="{{ path('app_admin_project_modifier',{'id':project.id}) }}" class="btn btn-warning font-14 w-100 mt-2">Modify</a>
                    <a href="{{ path('app_admin_project_delete',{'id':project.id}) }}" class="btn btn-danger font-14 w-100 mt-2">Delete</a>
                    <a href="{{ path('app_admin_project_view',{'id':project.id}) }}" class="btn btn-secondary font-14 w-100 mt-2">More</a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="3">La liste est vide.</td>
                </tr>
            {% endfor %}
            </tbody>


        </table>


    </div>

{% endblock %}