{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body text-center">
        {# Seulement les admin ou les super admin peuvent ajouter un projet #}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')  %}
            <a href="{{ path('app_admin_project_ajouter') }}" class="btn btn-dark w-240 mt-5 ml-2">Ajouter projet</a>
        {% endif %}
    </div>
    <div class="container-body">

        {# pour afficher les flash messages #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div>
            <form method="post">
                <div class="row">
                    <div class="w-resp" style="width: 29%;">
                        <label class="text-black">Ref Projet</label>
                        <input class="form-control" name="refprojet" placeholder="Chercher la ref..." />
                    </div>
                    <div class="w-resp" style="width: 41%;">
                        <label class="text-black">Nom Projet</label>
                        <input class="form-control" name="nameprojet" placeholder="Chercher le nom du projet..." />
                    </div>
                    <div class="btn-algin"  style="width: 30%;">
                        <button class="h-45">Chercher</button>
                    </div>
                </div>

            </form>
        </div>

        <table id="Table">
            <thead>
            <tr>
                <th>
                    Ref
                </th>
                <th>
                    Nom Projet
                </th>
                <th style="width: 30%;">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.refProject }}</td>
                <td>{{ project.projectName }}</td>
                <td class="text-center">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')  %}
                        <a href="{{ path('app_admin_project_modifier',{'id':project.id}) }}" class="text-primary w-100 mt-2"><i class="fa fa-pencil"></i></a>
                        <a href="{{ path('app_admin_project_delete',{'id': project.id}) }}" class="text-danger w-100 mt-2"><i class="fa fa-trash"></i></a>
                    {% endif %}
                    <a href="{{ path('app_admin_project_view',{'id':project.id}) }}" class="text-info w-100 mt-2"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="3">La liste est vide.</td>
                </tr>
            {% endfor %}
            </tbody>


        </table>


    </div>

{% endblock %}