{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body text-center">
        <a href="{{ path('app_admin_project_ajouter') }}" class="btn btn-dark w-240 mt-5 ml-2">Add project</a>
    </div>
    <div class="container-body">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div>
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <label class="text-black">Project Ref</label>
                        <input class="form-control" name="refprojet" placeholder="search ref.." />
                    </div>
                    <div class="col-md-4">
                        <label class="text-black">Project Name</label>
                        <input class="form-control" name="nameprojet" placeholder="search project name.." />
                    </div>
                    <div class="col-md-4 btn-algin">
                        <button class="h-45">Search</button>
                    </div>
                </div>

            </form>
        </div>

        <table id="Table">
            <thead>
            <tr>
                <th>
                    Ref
                </th>
                <th>
                    Project name
                </th>
                <th style="width: 30%;">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.refProject }}</td>
                <td>{{ project.projectName }}</td>
                <td class="text-center">
                    <a href="{{ path('app_admin_project_modifier',{'id':project.id}) }}" class="text-primary w-100 mt-2"><i class="fa fa-pencil"></i></a>
                    <a href="{{ path('app_admin_project_delete',{'id': project.id}) }}" class="text-danger w-100 mt-2"><i class="fa fa-trash"></i></a>
                    <a href="{{ path('app_admin_project_view',{'id':project.id}) }}" class="text-info w-100 mt-2"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="3">La liste est vide.</td>
                </tr>
            {% endfor %}
            </tbody>


        </table>


    </div>

{% endblock %}