{% extends 'forms_base.html.twig' %}

{% block title %}DETAILS PROJET{% endblock %}

{% block titleHeader %}DETAILS PROJET #{{ project.id }} {{ project.projectName }}{% endblock %}
{% block body %}

<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Project Name</label>
                {{ form_widget(form.project_name,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Project ref</label>
                {{ form_widget(form.ref_project,{'attr':{'readonly':true}}) }}
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Chef de projet</label>
                <input class="form-control" value="{{ project.projectOwner }}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Parent</label>
                <input class="form-control" value="{{ project.maitre }}" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Project description</label>
                {{ form_widget(form.project_description,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Project start date</label>
                {{ form_widget(form.date_init_projet,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Project end date</label>
                {{ form_widget(form.date_fin_projet,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Budget</label>
                {{ form_widget(form.budget,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="wc-100">Cost</label>
                {{ form_widget(form.cost,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Project Phase</label>
                <input class="form-control" value="{{ project.phase }}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')  %}
                <label class="wc-100"></label><br>
                <a class="btn btn-dark font-14 w-100" href="{{ path('app_admin_phase') }}" target="_blank">Phase config</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="wc-100 text-center mt-25">
        <a href="{{ path('app_admin_project') }}" class="btn btn-danger">Annuler</a>
    </div>
    </form>

{% endblock %}