{% extends 'forms_base.html.twig' %}

{% block title %}AJOUTER MATERIAL{% endblock %}

{% block titleHeader %}AJOUTER MATERIAL{% endblock %}
{% block body %}
    {{ form_start(form) }}

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="wc-100">Ref Materiel</label>
                    {{ form_widget(form.ref_material) }}
                    <span class="error-field">{{ form_errors(form.ref_material) }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="wc-100">Nom Materiel</label>
                    {{ form_widget(form.name_material) }}
                    <span class="error-field">{{ form_errors(form.name_material) }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="wc-100">Date de validité</label>
                    {{ form_widget(form.date_validation_in) }}
                    <span class="error-field">{{ form_errors(form.date_validation_in) }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="wc-100">Date d'expiration</label>
                    {{ form_widget(form.date_validation_out) }}
                    <span class="error-field">{{ form_errors(form.date_validation_out) }}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="wc-100">Coût</label>
                    {{ form_widget(form.material_cost) }}
                    <span class="error-field">{{ form_errors(form.material_cost) }}</span>
                </div>
            </div>
        </div>

        <hr>
        <div class="wc-100 text-center">
            <a href="{{ path('app_admin_material') }}" class="btn btn-danger">Annuler</a>
            <button type="submit" class="btn btn-light">Ajouter</button>
        </div>

    {{ form_end(form) }}

{% endblock %}