{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body">
        {% if is_granted('ROLE_ADMIN') and is_granted('ROLE_SUPER_ADMIN')  %}
            <a href="{{ path('app_admin_material_ajouter') }}" class="btn btn-dark w-240 mt-5 ml-2">Add Material</a>
        {% endif %}
    </div>
    <div class="container-body">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div>
            <form method="post">
                <div class="row">
                    <div class="w-resp wt-20">
                        <label class="text-black">Material Ref</label>
                        <input class="form-control" name="ref" placeholder="search ref.." />
                    </div>
                    <div class="w-resp wt-30">
                        <label class="text-black">Material Name</label>
                        <input class="form-control" name="name" placeholder="search material name.." />
                    </div>
                    <div class="w-resp wt-30">
                        <label class="text-black">Material Etat</label>
                        <select name="etat" class="wc-100">
                            <option></option>
                            <option value="1">Valide</option>
                            <option value="0">Non valide</option>
                        </select>
                    </div>
                    <div class="w-resp wt-20 btn-algin">
                        <button class="h-45">Search</button>
                    </div>
                </div>

            </form>
        </div>

        <table>
            <thead>
            <tr>
                <th class="wt-20">Ref</th>
                <th class="wt-30">Material name</th>
                <th class="wt-30">Etat</th>
                <th class="wt-20">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for material in allMaterials %}
            <tr>
                <td>{{ material.refMaterial }}</td>
                <td>{{ material.nameMaterial }}</td>
                <th>
                    <a class="badge badge-{{ material.dateValidationOut > date('now') ? 'success' : 'danger' }} font-14">
                        {{ material.dateValidationOut > date('now') ? 'Valide' : 'Non Valide' }}
                    </a>
                </th>
                <td class="text-center">
                    {% if is_granted('ROLE_ADMIN') and is_granted('ROLE_SUPER_ADMIN')  %}
                        <a href="{{ path('app_admin_material_modifier',{'id':material.id}) }}" class="text-primary w-100 mt-2"><i class="fa fa-pencil"></i></a>
                        <a href="{{ path('app_admin_material_delete',{'id': material.id}) }}" class="text-danger w-100 mt-2"><i class="fa fa-trash"></i></a>
                    {% endif %}
                    <a href="{{ path('app_admin_material_view',{'id':material.id}) }}" class="text-info w-100 mt-2"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="4">La liste est vide.</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>


    </div>

{% endblock %}
