{% extends 'forms_base.html.twig' %}

{% block title %}DETAILS MATERIAL{% endblock %}

{% block titleHeader %}DETAILS MATERIAL #{{ material.id }} {{ material.nameMaterial }}{% endblock %}
{% block body %}

    {{ form_start(form) }}
        <label>Ref Materiel</label>
        {{ form_widget(form.ref_material,{'attr':{'readonly':true}}) }}

        <label>Nom Materiel</label>
        {{ form_widget(form.name_material,{'attr':{'readonly':true}}) }}

        <label>Date de validité</label>
        {{ form_widget(form.date_validation_in,{'attr':{'readonly':true}}) }}

        <label>Date d'expiration</label>
        {{ form_widget(form.date_validation_out,{'attr':{'readonly':true}}) }}

        <label>Coût</label>
        {{ form_widget(form.material_cost,{'attr':{'readonly':true}}) }}

        <hr>
        <div class="wc-100 text-center mt-25">
            <a href="{{ path('app_admin_material') }}" class="btn btn-danger">Annuler</a>
        </div>
    {{ form_end(form) }}

{% endblock %}