{% extends 'forms_base.html.twig' %}

{% block title %}DETAILS MATERIAL{% endblock %}

{% block titleHeader %}DETAILS MATERIAL #{{ material.id }} {{ material.nameMaterial }}{% endblock %}
{% block body %}

    {{ form_start(form) }}
        <label>Material reference</label>
        {{ form_widget(form.ref_material,{'attr':{'readonly':true}}) }}

        <label>Material name</label>
        {{ form_widget(form.name_material,{'attr':{'readonly':true}}) }}

        <label>Validity date</label>
        {{ form_widget(form.date_validation_in,{'attr':{'readonly':true}}) }}

        <label>Expire date</label>
        {{ form_widget(form.date_validation_out,{'attr':{'readonly':true}}) }}

        <label>Cost</label>
        {{ form_widget(form.material_cost,{'attr':{'readonly':true}}) }}

    {{ form_end(form) }}

{% endblock %}