{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body">
        <a href="{{ path('app_admin_process_ajouter') }}" class="btn btn-dark w-240 mt-5 ml-2">Add Process</a>
    </div>
    <div class="container-body">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <table>
            <thead>
            <tr>
                <th>Ref</th>
                <th>Process name</th>
                <th style="width: 30%;">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for process in allProcess %}
            <tr>
                <td>{{ process.refProcess }}</td>
                <td>{{ process.processName }}</td>
                <td>
                    <a href="{{ path('app_admin_process_modifier',{'id':process.id}) }}" class="btn btn-warning font-14 w-100 mt-2">Modify</a>
                    <a href="{{ path('app_admin_process_delete',{'id':process.id}) }}" class="btn btn-danger font-14 w-100 mt-2">Delete</a>
                    <a href="{{ path('app_admin_process_view',{'id':process.id}) }}" class="btn btn-secondary font-14 w-100 mt-2">More</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>


        </table>


    </div>

{% endblock %}
