{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}

    <div class="header-body">
        <a href="{{ path('app_admin_process_ajouter') }}" class="btn btn-dark w-240 mt-5 ml-2">Add Process</a>
    </div>
    <div class="container-body">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div>
            <form method="post">
                <div class="row">
                    <div class="w-resp wt-40">
                        <label class="text-black">Process Ref</label>
                        <input class="form-control" name="processref" placeholder="search ref.." />
                    </div>
                    <div class="w-resp wt-40">
                        <label class="text-black">Process Name</label>
                        <input class="form-control" name="processname" placeholder="Search Process name.." />
                    </div>

                    <div class="w-resp wt-20 btn-algin">
                        <button class="h-45">Search</button>
                    </div>
                </div>

            </form>
        </div>

        <table>
            <thead>
            <tr>
                <th class="wt-40">Ref</th>
                <th class="wt-40">Process name</th>
                <th class="wt-20">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for process in allProcess %}
            <tr>
                <td>{{ process.refProcess }}</td>
                <td>{{ process.processName }}</td>
                <td class="text-center">
                    <a href="{{ path('app_admin_process_modifier',{'id':process.id}) }}" class="text-primary w-100 mt-2"><i class="fa fa-pencil"></i></a>
                    <a href="{{ path('app_admin_process_delete',{'id': process.id}) }}" class="text-danger w-100 mt-2"><i class="fa fa-trash"></i></a>
                    <a href="{{ path('app_admin_process_view',{'id':process.id}) }}" class="text-info w-100 mt-2"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="3">La liste est vide.</td>
                </tr>
            {% endfor %}
            </tbody>


        </table>


    </div>

{% endblock %}
