{% extends 'forms_base.html.twig' %}

{% block title %}DETAILS PROCESS{% endblock %}

{% block titleHeader %}DETAILS PROCESS #{{ process.id }} {{ process.processName }}{% endblock %}
{% block body %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Process Name</label>
                {{ form_widget(form.process_name,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Indice</label>
                {{ form_widget(form.process_indice,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Process réference</label>
                {{ form_widget(form.ref_process,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Created By</label>
                {{ form_widget(form.user,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Task</label>
                {{ form_widget(form.task,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Process import</label>
                {{ form_widget(form.process_path) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Document 1 import</label>
                {{ form_widget(form.document1_path) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Document 2 import</label>
                {{ form_widget(form.document2_path) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Document 3 import</label>
                {{ form_widget(form.document3_path) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Document 4 import</label>
                {{ form_widget(form.document4_path) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}