{% extends 'forms_base.html.twig' %}

{% block title %}DETAILS PROCESS{% endblock %}

{% block titleHeader %}DETAILS PROCESS #{{ process.id }} {{ process.processName }}{% endblock %}
{% block body %}

    <form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Process Name</label>
                {{ form_widget(form.process_name,{'attr':{'readonly':true}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="wc-100">Indice</label>
                {{ form_widget(form.process_indice,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Process réference</label>
                {{ form_widget(form.ref_process,{'attr':{'readonly':true}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Created By</label>
                <input class="form-control" value="{{ process.user }}" readonly />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="wc-100">Task</label>
                <input class="form-control" value="{{ process.task }}" readonly />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group doc">
                {% if process.processPath %}
                <a href="{{ asset('uploads/images/' ~ process.processPath.path ) }}" download> <i class="fa fa-download"></i> Process Doc </a>
                {% else %}
                    <a>No file uploaded</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group doc">
                {% if process.document1Path %}
                    <a href="{{ asset('uploads/images/' ~ process.document1Path.path ) }}" download> <i class="fa fa-download"></i> Process Doc 1 </a>
                {% else %}
                    <a>No file uploaded</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group doc">
                {% if process.document2Path %}
                    <a href="{{ asset('uploads/images/' ~ process.document2Path.path ) }}" download> <i class="fa fa-download"></i> Process Doc 2 </a>
                {% else %}
                    <a>No file uploaded</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group doc">
                {% if process.document3Path %}
                    <a href="{{ asset('uploads/images/' ~ process.document3Path.path ) }}" download> <i class="fa fa-download"></i> Process Doc 3 </a>
                {% else %}
                    <a>No file uploaded</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group doc">
                {% if process.document4Path %}
                    <a href="{{ asset('uploads/images/' ~ process.document4Path.path ) }}" download> <i class="fa fa-download"></i> Process Doc 4 </a>
                {% else %}
                    <a>No file uploaded</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <hr>
    <div class="wc-100 text-center mt-25">
        <a href="{{ path('app_admin_process') }}" class="btn btn-danger">Annuler</a>
    </div>
    </form>


{% endblock %}